/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");

/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #1f2125;
  color: #e2e2e3;
  font-family: "Poppins", sans-serif;
}

/* nav styles */
.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: #212428;
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.17);
}

.nav-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  gap: 2rem;
}

.nav .logo-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.nav .content-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.nav .content-menu .active {
  color: #e2e2e3;
}
.nav .content-menu a {
  text-decoration: none;
  color: #e2e2e3;
  font-size: 20px;
  color: #626770;
}
.nav .btn-content {
  display: flex;
  gap: 1rem;
}
.nav .btn-content a {
  text-decoration: none;
  color: #e2e2e3;
  line-height: 24px;
}

.nav .btn-content .btn-create {
  padding: 10px 20px;
  border: 1px solid #ff014f;
  border-radius: 30px;
  font-size: 20px;
}

.nav .btn-content .btn-connect {
  padding: 10px 30px;
  background: #ff014f;
  border: 1px solid #ff014f;
  border-radius: 30px;
  font-size: 20px;
}

/* group-1 styles */

.group-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.group-1 .left {
  width: 100%;
  text-align: center;
}
.group-1 .left h1 {
  color: #cedff6;
  font-weight: 600;
  font-size: 40px;
  line-height: 70px;
  /* or 150% */
  text-transform: capitalize;
}

.group-1 .left p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  text-transform: capitalize;
  color: #989ca2;
}
.group-1 .left .btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.group-1 .left .btn-content a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 125% */

  text-transform: capitalize;
}
.group-1 .left .btn-explore {
  padding: 10px 20px;
  background: #ff014f;
  border-radius: 10px;
}
.group-1 .left .btn-connect {
  padding: 10px 20px;
  border: 1px solid #ff014f;
  border-radius: 10px;
}

.group-1 .right {
  width: 100%;
  display: none;
}
.group-1 .right img {
  width: 100%;
}

/* group-2 styles */
.group-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.group-2 .title {
  text-align: center;
}
.group-2 .title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #cedff6;
}
.group-2 .bar-filter .text-content p {
  color: #989ca2;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.group-2 .bar-filter {
  text-align: center;
}
.group-2 .filter-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #212428;
  box-shadow: -2px -5px 10px rgba(109, 109, 109, 0.15);
  border-radius: 5px;
  margin-top: 2rem;
}
.group-2 .filter-cards .active {
  padding: 10px 10px;
  background: #ff014f;
  border-radius: 5px;
}

.group-2 .filter-cards a {
  text-decoration: none;
  color: #e5e5e5;
}

/* group-3 styles */
.group-3 {
  width: 100%;
}
.group-3 .content-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.group-3 .content-cards .card {
  width: 307px;
  height: 380px;
  margin: 0 auto;
  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
}

/* bg cards */
.group-3 .content-cards .card .card-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  background: url(../assets/timon-klauser-3MAmj1ZKSZA-unsplash-min.png);
  border-radius: 10px;
}
.group-3 .content-cards .card .two {
  background: url(../assets/javier-miranda-MrWOCGKFVDg-unsplash-min.png);
}
.group-3 .content-cards .card .three {
  background: url(../assets/tim-mossholder-zs-PAgqgenQ-unsplash-min.png);
}
.group-3 .content-cards .card .four {
  background: url(../assets/zo-razafindramamba-KeakS9D1N7s-unsplash-min.png);
}
.group-3 .content-cards .card .five {
  background: url(../assets/sebastian-svenson-d2w-_1LJioQ-unsplash-min.png);
}
.group-3 .content-cards .card .six {
  background: url(../assets/rick-rothenberg-Nqx3SaMp4kQ-unsplash-min.png);
}
.group-3 .content-cards .card .seven {
  background: url(../assets/luis-vasconcelos-wxj729MaPRY-unsplash-min.png);
}
.group-3 .content-cards .card .eight {
  background: url(../assets/tommao-wang-iidEkg2U8cI-unsplash-min.png);
}
.group-3 .content-cards .card .card-bg .row-top {
  width: 225px;
  height: 50px;
  background: #212428;
  border: 1px solid #ff014f;
  box-shadow: 0px -3px 6px rgba(78, 78, 78, 0.18);
  border-radius: 0px 30px 30px 0px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.group-3 .content-cards .card .card-bg .border {
  border: none;
}
.group-3 .content-cards .card .card-bg .row-top img {
  border-radius: 10px;
  width: 43px;
}
.group-3 .content-cards .card .card-bg .row-top span {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  color: #ffffff;
}
.group-3 .content-cards .card .card-bg .row-end {
  width: 267px;
  height: 50px;
  margin: 0 auto;
  background: #ff014f;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.group-3 .content-cards .card .card-bg .row-end span {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  color: #cedff6;
}

.group-3 .content-cards .card .card-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.group-3 .content-cards .card .card-btn span {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height, or 100% */
  color: #ff014f;
  margin-left: 1rem;
}
.group-3 .content-cards .card .card-btn .social-group {
  display: flex;
  justify-content: space-evenly;
}
.group-3 .content-cards .card .card-btn .social-group img {
  cursor: pointer;
}

.group-3 .content-cards .card .card-btn .title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #ffffff;
}
.group-3 .content-cards .card .card-btn .flow-btn-card {
  width: 267px;
  height: 50px;
  border: 1px solid #ff014f;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* group-4 styles */
.group-4 {
  width: 100%;
  margin-top: 2rem;
}
.group-4 .all-tarjets {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.group-4 .all-tarjets .tarjet {
  width: 307px;
  height: 184px;
  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
}
.group-4 .all-tarjets .tarjet .tarjet-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.group-4 .all-tarjets .tarjet .tarjet-content .title-tarjet {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  color: #ffffff;
}

.group-4 .all-tarjets .tarjet .tarjet-content .number-tarjet {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #c4c4c4;
}

.group-4 .all-tarjets .tarjet .tarjet-content .active-num {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #ff014f;
}

.group-4 .all-tarjets .tarjet .tarjet-content .btn-tarjet {
  width: 149px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid #ff014f;
}
.group-4 .all-tarjets .tarjet .tarjet-content .active {
  background: #ff014f;
}

/* group-5 styles */
.group-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.group-5 .title {
  text-align: center;
}
.group-5 .title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #cedff6;
}
.group-5 .category-filter .text-content p {
  color: #989ca2;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.group-5 .category-filter {
  text-align: center;
}
.group-5 .category-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.group-5 .category-cards .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.group-5 .category-cards .btn {
  width: 195px;
  height: 55px;
  left: 1425px;
  top: 2421px;

  background: #ff014f;
  border-radius: 30px;
}

.group-5 .category-cards a {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  /* identical to box height, or 125% */
  color: #ffffff;
}

/* group-6 styles */
.group-6 {
  width: 100%;
}
.group-6 .all-cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.group-6 .all-cards .card {
  width: 306px;
  height: 444px;
}
.group-6 .all-cards .card .card-bg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 306px;
  height: 306px;
  left: 301px;
  top: 2565px;

  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: 4px -4px 10px rgba(80, 80, 80, 0.3);
  border-radius: 10px;
}
.group-6 .all-cards .card .card-bg .card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-6 .all-cards .card .effect-blur {
  position: relative;
  width: 150px;
  height: 96px;
  background: #7e0d0d;
  filter: blur(25px);
  z-index: -1;
  left: 80px;
  top: -70px;
}

.group-6 .all-cards .card .card-perfil {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  top: -140px;
}

.group-6 .all-cards .card .card-perfil img {
  width: 100px;
  height: 100px;
}

.group-6 .all-cards .card .card-text {
  position: relative;
  top: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group-6 .all-cards .card .card-text .top-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.group-6 .all-cards .card .card-text .top-text span {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  color: #c4c4c4;
}
.group-6 .all-cards .card .card-text .top-text .active {
  color: #ff014f;
}
.group-6 .all-cards .card .card-text span {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #ffffff;
}
.group-6 .all-cards .card .card-text .active {
  color: #00acee;
}

.group-6 .all-cards .card .card-text .no-active {
  color: #c4c4c4;
}

/* group-8 styles */
.group-8 {
  width: 100%;
}
.group-8 .all-tarjets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.group-8 .all-tarjets .tarjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 660px;
  background: linear-gradient(160.69deg, #23252b -0.44%, #17191d 99.01%);
  box-shadow: 4px -4px 10px rgba(80, 80, 80, 0.3);
  border-radius: 10px;
}

.group-8 .all-tarjets .tarjet .card {
  width: 370px;
  height: 100px;
  background: #23252a;
  box-shadow: 4px -4px 12px rgba(50, 50, 50, 0.71);
  border-radius: 10px;
  margin: 1rem 0;
}
.group-8 .all-tarjets .tarjet .active {
  background: #17191d;
}
.group-8 .all-tarjets .tarjet .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-8 .all-tarjets .tarjet .card .card-image {
  display: flex;
  justify-content: center;
  width: 30%;
}
.group-8 .all-tarjets .tarjet .card .card-text {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
  height: 100%;
}
.group-8 .all-tarjets .tarjet .card .card-text .left {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.group-8 .all-tarjets .tarjet .card .card-text .left span {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #f2f2f2;
}
.group-8 .all-tarjets .tarjet .card .card-text .left .active {
  color: #ff014f;
}

.group-8 .all-tarjets .tarjet .card .card-text .left .number {
  display: flex;
  align-items: center;
  gap: 5px;
}

.group-8 .all-tarjets .tarjet .card .card-text .left .number span {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #c4c4c4;
}

.group-8 .all-tarjets .tarjet .card .card-text .right span {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height, or 136% */

  color: #adfe00;
}
.group-8 .all-tarjets .tarjet .card .card-text .right .green {
  color: #adfe00;
}
.group-8 .all-tarjets .tarjet .card .card-text .right .red {
  color: #ff014f;
}
.group-8 .all-tarjets .tarjet .card .card-text .right .coral {
  color: #f27a6b;
}

/* group-10 styles */
.group-10 {
  width: 100%;
}
.group-10 .card-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.group-10 .card-content .card {
  width: 307px;
  height: 329px;
  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.group-10 .card-content .card .card-image {
  width: 95%;
  margin: 0 auto;
}
.group-10 .card-content .card .card-image .eclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #191b20;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.group-10 .card-content .card .card-text {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
.group-10 .card-content .card .content-btn {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.group-10 .card-content .card .card-text h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  /* identical to box height, or 133% */
  color: #c4c4c4;
}

.group-10 .card-content .card .card-text .red {
  color: #ff014f;
}
.group-10 .card-content .card .card-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  /* or 133% */
  color: #c4c4c4;
}

.group-10 .card-content .card .card-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ff014f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-10 .card-content .card .active {
  width: 40px;
  height: 40px;
  background: #ff014f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-10 .card-content .card .card-btn .active {
  text-decoration: none;
  color: #ffffff;
}
.group-10 .card-content .card .card-btn a {
  text-decoration: none;
  color: #ff014f;
}
/* group-11 styles */
.group-11 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.group-11 .title {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.group-11 .title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #cedff6;
}
.group-11 .text-content p {
  text-align: center;
  color: #989ca2;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

/* group-12 styles */
.group-12 {
  width: 100%;
}
.group-12 .card-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.group-12 .card-content .card {
  width: 307px;
  height: 420px;
  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* added images */
.group-12 .card-content .card .card-bg {
  width: 307px;
  height: 200px;
  background: url(../assets/Rectangle\ 91.png);
  border-radius: 10px 10px 0px 0px;
}
.group-12 .card-content .card .two {
  background: url(../assets/Rectangle\ 92.png);
}
.group-12 .card-content .card .three {
  background: url(../assets/Rectangle\ 93.png);
}
.group-12 .card-content .card .four {
  background: url(../assets/Rectangle\ 94.png);
}
.group-12 .card-content .card .five {
  background: url(../assets/Rectangle\ 98.png);
}
.group-12 .card-content .card .six {
  background: url(../assets/Rectangle\ 95.png);
}
.group-12 .card-content .card .seven {
  background: url(../assets/Rectangle\ 96.png);
}
.group-12 .card-content .card .eight {
  background: url(../assets/Rectangle\ 97.png);
}

.group-12 .card-content .card .card-text h3 {
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  /* identical to box height, or 130% */
  text-transform: capitalize;
  color: #cedff6;
}
.group-12 .card-content .card .card-text .active {
  color: #ff014f;
}
.group-12 .card-content .card .card-text .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-12 .card-content .card .card-text .text span {
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  /* identical to box height, or 200% */
  text-transform: capitalize;
  color: #ffffff;
}
.group-12 .card-content .card .card-text .text .number {
  display: flex;
  align-items: center;
}
.group-12 .card-content .card .card-text .text .number span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  color: #747474;
}

.group-12 .card-content .card .content-btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.group-12 .card-content .card .content-btn a {
  width: 136px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff014f;
  border-radius: 5px;
}
.group-12 .card-content .card .content-btn .active {
  background: #ff014f;
}

.group-12 .card-content .card .content-btn .share {
  display: flex;
  gap: 1rem;
}
.group-12 .card-content .card .content-btn .share img {
  cursor: pointer;
}

/* group-13 styles */
.group-13 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.group-13 .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.group-13 .title h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #cedff6;
}
.group-13 .title p {
  text-align: center;
  color: #989ca2;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.group-13 .btn-content {
  margin-top: 1rem;
}
.group-13 .btn-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 55px;
  background: #ff014f;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */
  text-transform: capitalize;
  color: #cedff6;
}

/* group-14 styles */
.group-14 {
  width: 100%;
}
.group-14 .card-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.group-14 .card-content .card {
  width: 307px;
  height: 292px;
  background: linear-gradient(133.27deg, #23252b 3%, #17191d 98.83%);
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.group-14 .card-content .card .card-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.group-14 .card-content .card .card-body span {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: capitalize;
  color: #c4cfde;
}
.group-14 .card-content .card .card-body .active {
  color: #ff014f;
}
.group-14 .card-content .card .card-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #bac5d3;
}
.group-14 .card-content .card .card-body .p-active {
  color: #ffffff;
}

/* group-15 styles */
.group-15 {
  width: 100%;
  margin-top: 3rem;
}
.group-15 .footer-content {
  display: flex;
  gap: 2rem;
  flex-direction: column-reverse;
  align-items: center;
}
.group-15 .footer-content .sect {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  width: 90%;
}
.group-15 .footer-content .sect ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.group-15 .footer-content .sect ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.group-15 .footer-content .sect h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #ffffff;
}
.group-15 .footer-content .sect .cont-span {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #ffffff;
}
.group-15 .footer-content .sect span {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.group-15 .footer-content .sect p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  color: #ffffff;
}

.group-15 .footer-content .sect .share {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.group-15 .footer-content .sect .p-logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #c4c4c4;
}
.group-15 .footer-content .sect .share img {
  cursor: pointer;
}
.group-15 .final {
  width: 90%;
  margin: 0 auto;
}

.group-15 .final img {
  width: 100%;
}
.group-15 .final p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #ffffff;
  text-align: center;
  margin: 1rem 0;
}
